@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

@theme {
  --font-roboto-sans: var(--font-roboto-sans);
  --font-instrument-serif: var(--font-instrument-serif);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-syne: var(--font-syne);
}

body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}