@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

@theme {
  --font-roboto-sans: var(--font-roboto-sans);
  --font-instrument-serif: var(--font-instrument-serif);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-syne: var(--font-syne);
}

body {
  min-height: 100dvh;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}